.container{
    margin: auto;
    max-width: 1500px;
}
#books-form .form-group textarea,
#books-form .form-group input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
}
#books-form .form-group textarea {
    height: 200px;
}
.btn {
    display: inline-block;
    width: 20%;
    font-size: 18px;
}
#data .box {
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
}
table, th, td {
    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 33.3%;
}

#books-table {
    padding: 30px;
}
